@charset "UTF-8";

/* 1. Our configuration and helpers */

@import "./abstracts/mixins.css";

/* 2. Our base stuff */

@import "./base/sitecore.css";
@import "./base/base.css";
@import "./base/typography.css";
@import "./base/helpers.css";

/* Specifically importing after our base stuff to mimic Tailwind v2 file creation */

@import "tailwindcss/base";

/* 4. Our layout */

@import "./layout/layout.css";
@import "./layout/buttons.css";
@import "./layout/forms.css";
@import "./layout/grids.css";
@import "./layout/information-section.css";
@import "./layout/sections.css";
@import "./layout/sxaLayout.css";
@import "./layout/text.css";

/* Tailwindify other components and pages from rest.css here */
@import "./rest.css";

/* Navigation */
@import "./components/Navigation/AccountPopup.css";
@import "./components/Navigation/Breadcrumb.css";
@import "./components/Navigation/CategoryBreadcrumb.css";
@import "./components/Navigation/Footer.css";
@import "./components/Navigation/Header.css";
@import "./components/Navigation/MainNavigation.css";

/* nextjs-sxa */
@import "./components/nextjs-sxa/Navigation.css";
@import "./components/nextjs-sxa/Promo.css";
@import "./components/nextjs-sxa/RichText.css";
@import "./components/nextjs-sxa/Title.css";

/* 9. Other styles */

@import "../../../node_modules/react-loading-skeleton/dist/skeleton.css";

@import "./poerreview.css";

@import "./Richtexthtml.css";

footer {
  background-color: #ededed !important;
  background-image: none;
}

footer .recipe-container li a {
  text-decoration: none;
  color: #3c3c3c;
}

footer .recipe-container .footer-content-col {
  color: #3c3c3c !important;
}

.recipe-container .footer-content-col li:first-child {
  color: #3c3c3c !important;
}

footer .link-list ul {
  display: flex;
  padding-left: 0;
}

footer .link-list ul li a {
  font-size: 14px;
  line-height: 19px;
  padding: 0;
  border: none;
  text-decoration: none;
  color: #3c3c3c !important;
}

/* footer .link-list ul li:not(.last) .field-link:after {
  content: '|';
  display: inline-block;
  padding: 0 6px;
  vertical-align: middle;
  margin: -1px 0 0;
  font-size: 15px;
} */

.footer-utility-section .get-flaver-maker .field-title {
  color: #3c3c3c;
  font-size: 24px;
  line-height: 34px;
  padding-bottom: 14px;
  font-weight: 700;
}

.footer-utility-section .get-flaver-maker .field-text {
  color: #3c3c3c;
  font-size: 12px;
  line-height: 16px;
}

.footer-app-store span {
  display: none;
}

.footer-app-store a::after {
  content: "";
}

.footer-contact .field-title {
  color: #3c3c3c;
  font-size: 24px;
  line-height: 34px;
  padding-bottom: 20px;
  font-weight: 700;
}
